---
import LetsTalkButton from "../interface/LetsTalkButton";
import ResultsButton from "../interface/ResultsButton.astro";
---

<section
  id="results"
  class="bg-zinc-400 flex items-center justify-center w-full"
>
  <div class="section flex-col xs:gap-10 lg:gap-20">
    <h2 class="heading">We are very effective at our job.</h2>
    <div class="flex flex-col items-center gap-10">
      <h3 class="text-xl text-center">
        Take a look at some of ours sales results:
      </h3>
      <ResultsButton />
      <h3 class="text-xl text-center leading-8 xs:max-lg:text-balance">
        If you’re not sure you fit the bill, let’s talk anyway.<br />
        We are available from Monday up to Saturday, so you can easily find a suitable
        time.
      </h3>
    </div>
    <LetsTalkButton>Let's Talk</LetsTalkButton>
  </div>
</section>
