---
import { Image } from "astro:assets";
import logo from "/public/img/logo-light.png";
import navlinks from "../../constants/navlinks";
import LetsTalkButton from "./LetsTalkButton.astro";
---

<nav class="min-w-[80%] gradient-dark-reversed p-[1px] rounded-xl h-[60px]">
  <div
    class="gradient-dark flex items-center rounded-xl justify-between gap-10 h-[60px] p-4"
  >
    <a href="#intro" class="w-[140px]">
      <Image src={logo} alt="Salegency Logo" class="cursor-pointer" />
    </a>
    <div
      class="flex flex-1 items-center justify-center gap-10 text-white text-lg font-bold"
    >
      {
        navlinks.map((link) => (
          <a
            href={link.href}
            class="text-white hover:text-greencell duration-200 transition-all uppercase"
          >
            {link.title}
          </a>
        ))
      }
    </div>
    <LetsTalkButton>Let's Talk</LetsTalkButton>
  </div>
</nav>
