---
import ProcessSteps from "./ProcessSteps.astro";
---

<section id="process" class="section flex-col gap-20">
  <h2 class="heading">Here's how the process unfolds:</h2>
  <ProcessSteps />
</section>
