---
import ProcessSteps from "./ProcessSteps.astro";
---

<section
  id="process"
  class="w-full bg-zinc-950 flex items-center justify-center"
>
  <div class="section flex-col flex xs:gap-10 lg:gap-20">
    <h2 class="heading">Here's how the process unfolds:</h2>
    <ProcessSteps />
  </div>
</section>
