---
import process from "../../constants/process";
import StepCard from "./StepCard.astro";
---

<div class="flex xs:max-lg:flex-col items-center gap-2 justify-center">
  {
    process.map((step) => (
      <StepCard
        step={step.step}
        title={step.title}
        description={step.description}
        timeline={step.timeline}
      />
    ))
  }
</div>
