---
const year = new Date().getFullYear();
---

<footer
  class="flex bg-black flex-col gap-2 items-center justify-center w-full p-4 lg:pb-32"
>
  <div class="flex items-center justify-center gap-4 text-white/50">
    <a
      href="/privacy-policy"
      class="hover:text-white transition-all duration-300">Privacy Policy</a
    >
    |
    <a
      href="/terms-of-service"
      class="hover:text-white transition-all duration-300">Terms of Service</a
    >
  </div>
  <div class="text-white/50">© Copyright Salegency {year}</div>
</footer>
