---
import { Image } from "astro:assets";
import logo from "/public/img/logo-light.png";
const { href, className } = Astro.props;
---

<a href={href} class={className}>
  <Image src={logo} alt="Salegency Logo" class="cursor-pointer" />
</a>
