---
import Logo from "./Logo.astro";
import navlinks from "../../constants/navlinks";
import LetsTalkButton from "./LetsTalkButton.astro";
---

<nav class="min-w-[1080px] gradient-dark-reversed p-[1px] rounded-xl h-[60px]">
  <div
    class="gradient-dark flex items-center rounded-xl justify-between gap-10 h-[60px] p-4"
  >
    <Logo href="#intro" className="w-[140px]" />
    <div
      class="flex flex-1 items-center justify-center gap-10 text-white text-lg font-bold"
    >
      {
        navlinks.map((link) => (
          <a
            href={link.href}
            class="text-white text-base hover:text-greencell duration-200 transition-all"
          >
            {link.title}
          </a>
        ))
      }
    </div>
    <LetsTalkButton>Let's Talk</LetsTalkButton>
  </div>
</nav>
