<section id="about" class="section pt-[120px]">
  <div class="bg-zinc-900 p-10 rounded-lg flex flex-col items-center gap-10">
    <h2 class="text-4xl uppercase font-bold">A letter from our founder.</h2>
    <div class="flex">
      <div class="flex-1"></div>
      <div class="flex flex-col gap-4 flex-1">
        <p>
          <span class="font-bold text-greencell">From:</span> Radek Bartczak, founder
          & lead strategist<br />
          <span class="font-bold text-greencell">Re:</span> Why Choose Salegency.co?
        </p>
        <p>Hello,</p>
        <p>
          I want to answer the question of why you should consider us by sharing
          a bit about myself:
        </p>
        <ul>
          <li>
            - I bring more than decade of experience in online sales, and I’m
            currently 40 years old.
          </li>
          <li>
            - I have a successful track record in ten different markets,
            including education (working with Matt Diggity and ZloteMysli),
            betting (with STS and Superbet), e-commerce (contributing to Sundose
            and Gookie Dough), and more.
          </li>
          <li>- I consistently deliver measurable results for my clients.</li>
          <li>- I’ve dedicated a significant part of my life to this work.</li>
          <li>
            - I highly value transparency, even when it may not be in my
            immediate interest.
          </li>
        </ul>
        <p>
          When you choose to work with Salegency.co, you benefit from this
          wealth of experience and dedication, because I appreciate these
          qualities in the people I work with.
        </p>
        <p>
          I’ve “been there and done that,” and I’m continually enhancing the
          products and services offered by Salegency, so you can effectively
          create and sell your products.
        </p>
        <p>
          I genuinely take pride in our collaborative approach with clients and
          the positive results we’ve achieved together.
        </p>
        <p>
          So, I would greatly appreciate it if you considered partnering with
          us.
        </p>
        <p>
          Allow us to assist you in developing and selling your product,
          enabling you to increase your earnings, make a more significant impact
          on the world, and pursue whatever you like in life.
        </p>
        <p>Until then, I wish you success.</p>
        <p class="font-bold text-greencell">
          Best regards,<br />
          Radek Bartczak<br />
          Founder, Salegency.co
        </p>
      </div>
    </div>
  </div>
</section>
