---
import { FaFacebookSquare } from "react-icons/fa";
import { FaInstagram } from "react-icons/fa";
---

<div class="flex flex-col items-center gap-4 mt-2">
  <p>
    And if you want to talk with Radek on Social Media click on one of those
    icons:
  </p>
  <div class="flex items-center gap-4 xs:text-2xl lg:text-3xl text-greencell">
    <a
      aria-label="Link to Radek's Facebook"
      href="https://www.facebook.com/profile.php?id=100013716438314"
      target="_blank"
      class="hover:text-white transition-all duration-300"
      ><FaFacebookSquare /></a
    >
    <a
      aria-label="Link to Radek's Instagram"
      href="https://www.instagram.com/radekbartczakofficial/"
      target="_blank"
      class="hover:text-white transition-all duration-300"><FaInstagram /></a
    >
  </div>
</div>
