---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Salegency - Creativity to Profit."
  description="The world's first agency dedicated to optimizing monthly sales for experts and coaches."
>
  <main class="min-h-screen flex items-center justify-center">
    Calendly soon...
  </main>
</MainLayout>
