---
import Logo from "../components/interface/Logo";
import MainLayout from "../layouts/MainLayout.astro";
import CalendlyDesktop from "../components/interface/CalendlyDesktop.astro";
import CalendlyMobile from "../components/interface/CalendlyMobile.astro";
---

<MainLayout
  title="Salegency - Creativity to Profit."
  description="The world's first agency dedicated to optimizing monthly sales for experts and coaches."
>
  <header class="flex items-center justify-center pt-20">
    <Logo href="/" className="w-[240px]" />
  </header>

  <main class="flex flex-col items-center px-4">
    <section class="section min-h-auto flex-col items-center">
      <h1 class="heading">
        Book Below Your Free Consultation Call and Discover How We Can Help You
        Increase Revenue:
      </h1>
      <CalendlyDesktop />
      <CalendlyMobile />
    </section>
  </main>
</MainLayout>
