---
import MainLayout from "../layouts/MainLayout.astro";
import "../globals.css";
import MainSection from "../components/MainSection.astro";
---

<MainLayout
  title="Salegency - Creativity to Profit."
  description="The world's first agency dedicated to optimizing monthly sales for experts and coaches."
>
  <main>
    <MainSection />
    <div class="min-h-screen"></div>
  </main>
</MainLayout>

<style>
  main {
    color: white;
  }
</style>
