---
import MainLayout from "../layouts/MainLayout.astro";
import Intro from "../components/Intro/Intro.astro";
import Offer from "../components/Offer/Offer.astro";
import Mission from "../components/Mission/Mission.astro";
import Opinions from "../components/Opinions/Opinions.astro";
import Process from "../components/Process/Process.astro";
import Results from "../components/Results/Results.astro";
import About from "../components/About/About.astro";
import Navbar from "../components/interface/Navbar.astro";
import MobileNav from "../components/interface/MobileNav";
---

<MainLayout
  title="Salegency - Creativity to Profit."
  description="The world's first agency dedicated to optimizing monthly sales for experts and coaches."
>
  <Navbar />
  <MobileNav client:load />

  <main class="flex flex-col items-center">
    <Intro />
    <Mission />
    <Opinions />
    <Offer />
    <Process />
    <Results />
    <About />
  </main>
</MainLayout>
