---
import MainLayout from "../layouts/MainLayout.astro";
import "../globals.css";
import Intro from "../components/Intro/Intro.astro";
import OfferSection from "../components/OfferSection.astro";
import Mission from "../components/Mission/Mission.astro";
---

<MainLayout
  title="Salegency - Creativity to Profit."
  description="The world's first agency dedicated to optimizing monthly sales for experts and coaches."
>
  <main>
    <Intro />
    <Mission />
  </main>
</MainLayout>

<style>
  main {
    color: white;
  }
</style>
