---
import Logo from "../components/interface/Logo";
import MainLayout from "../layouts/MainLayout.astro";
import Table from "../components/interface/Table.astro";
---

<MainLayout
  title="Salegency - Creativity to Profit."
  description="The world's first agency dedicated to optimizing monthly sales for experts and coaches."
>
  <header class="flex items-center justify-center py-20">
    <Logo href="/" className="w-[240px]" />
  </header>
  <main class="flex flex-col items-center px-4">
    <div class="xs:max-lg:w-full lg:max-w-[1080px]">
      <h1 class="heading normal-case text-left">Privacy Policy</h1>
      <div class="mt-10 text-lg flex flex-col gap-4">
        <p>
          Salegency Radosław Bartczak, based in Katowice (40-145) at ul.
          Mieczysława Karłowicza 13/5, is fulfilling its responsibilities under
          the regulation of the European Parliament and the Council (EU)
          2016/679 dated April 27, 2016, which pertains to safeguarding the
          rights of individuals in the processing of their personal data and the
          unrestricted flow of such information. This regulation also repeals
          Directive 95/46/EC and is commonly referred to as GDPR. In compliance
          with GDPR, we are providing information about how Salegency Radosław
          Bartczak processes and safeguards your personal data.
        </p>
        <p>
          The details outlined in our Privacy Policy aim to clarify the nature
          of the personal data collected and processed by Salegency Radosław
          Bartczak in Katowice, the intended purposes of this data usage, as
          well as the rights you possess in connection with the protection of
          your personal data.
        </p>
        <h2>WHO IS RESPONSIBLE FOR YOUR PERSONAL DATA:</h2>
        <p>
          Salegency Radosław Bartczak, located in Katowice (hereafter referred
          to as Salegency), is the entity responsible for handling your personal
          data.
        </p>
        <h2>HOW TO GET IN TOUCH WITH SALEGENCY:</h2>
        <p>To reach Salegency, you can use the following methods:</p>
        <ol class="ml-4">
          <li>
            <span class="text-greencell font-bold">1.</span> Via email: salegency@salegency.co
          </li>
          <li>
            <span class="text-greencell font-bold">2.</span> By sending mail to the
            company’s registered address: Mieczysława Karłowicza 13/5, 40-145 Katowice.
          </li>
        </ol>
        <p>
          FOR WHAT REASON AND UNDER WHAT LEGAL BASIS DOES SALEGENCY PROCESS YOUR
          PERSONAL DATA, AND HOW LONG IS THIS INFORMATION KEPT:
        </p>
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <h2>
              I. Information tailored for Clients and Business Partners of
              Salegency:
            </h2>
            <p>
              If you have a contractual agreement with SALEGENCY, particularly
              in the form of a collaboration contract or service agreement,
              SALEGENCY processes your data for specific purposes, under legal
              foundations, and for the indicated duration as outlined below:
            </p>
            <Table>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </Table>
          </div>
          <div class="flex flex-col gap-2">
            <h2>
              II. Information intended for employees/collaborators of
              Salegency’s Clients or Contractors:
            </h2>
            <p>
              If you are an employee/collaborator of Salegency’s Client or
              Contractor, for example, acting as a representative of Salegency’s
              Client or Contractor, designated as a point of contact, or
              authorized to perform specific actions on behalf of the Client or
              Contractor, including tasks arising from an agreement between the
              Client or Contractor and SALEGENCY, SALEGENCY processes your data
              for a specific purpose, based on legal grounds, and for the
              duration indicated below:
            </p>
            <Table>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </Table>
          </div>
          <div class="flex flex-col gap-2">
            <h2>III. Details for Those Interested in Salegency’s Offer:</h2>
            <p>
              Should you express interest in Salegency’s services or represent
              an entity intrigued by Salegency’s offerings, Salegency will
              handle your information for a defined objective, grounded in legal
              requirements, and within the timeframe specified below.
            </p>
            <p>
              If you reach out to SALEGENCY or individuals representing
              SALEGENCY via the email available on the salegency.co website,
              SALEGENCY will handle your information for a specified purpose, in
              accordance with legal requirements, and for the duration outlined
              below:
            </p>
            <Table>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </Table>
          </div>
          <div class="flex flex-col gap-2">
            <h2>
              IV. Information for individuals contacting SALEGENCY via email:
            </h2>
            <p>
              If you are contacting SALEGENCY or individuals acting on behalf of
              SALEGENCY through email, SALEGENCY processes your data for a
              specific purpose, based on legal grounds, and for the duration
              indicated below:
            </p>
            <Table>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </Table>
          </div>
          <div class="flex flex-col gap-2">
            <h2>
              V. Details for individuals subjected to SALEGENCY’s marketing
              efforts/newsletter:
            </h2>
            <p>
              If SALEGENCY engages in marketing actions or sends newsletters to
              you, SALEGENCY will handle your data for a defined purpose, in
              compliance with legal requirements, and within the duration
              specified below:
            </p>
            <Table>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </Table>
          </div>
        </div>
        <h2>WHERE DOES SALEGENCY SOURCE YOUR PERSONAL INFORMATION?</h2>
        <p>
          In the majority of instances, SALEGENCY directly obtains your personal
          details from you. However, there are specific scenarios where
          SALEGENCY may receive your information:
        </p>
        <ul class="ml-4">
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> From the
            entity you represent or work for (particularly relevant for employees
            or collaborators of Salegency’s Clients or Contractors); the provided
            information typically includes your name, job title, email address, and
            phone number.
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> From publicly
            accessible databases, including business registers like the National
            Court Register (KRS) and the Central Register and Information on Economic
            Activity (CEiDG).
          </li>
        </ul>
        <h2>IS IT REQUIRED TO DISCLOSE YOUR INFORMATION?</h2>
        <Table>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
        </Table>
        <h2>WHO HAS ACCESS TO PERSONAL INFORMATION:</h2>
        <p>Access to your personal information may be granted to:</p>
        <ul class="ml-4">
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> Individuals
            authorized by SALEGENCY to handle your personal information on behalf
            of SALEGENCY.
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> Entities
            to whom SALEGENCY has delegated the processing of personal information,
            including:
          </li>
          <ol class="ml-4">
            <li>
              <span class="text-greencell font-bold">a)</span> Providers of technical
              and organizational services.
            </li>
            <li>
              <span class="text-greencell font-bold">b)</span> Providers of legal
              and advisory services, especially in cases related to claims arising
              from SALEGENCY’s business activities and defense against claims.
            </li>
          </ol>
          <li>
            <span class="text-greencell text-2xl">&#x2022</span> Other entities,
            individuals, or authorities within the limits and conditions specified
            by applicable law, provided that the sharing of your information with
            the mentioned entities complies with existing legal regulations and follows
            all principles related to security.
          </li>
        </ul>
        <h2>
          YOUR RIGHTS IN CONNECTION WITH THE PROCESSING OF PERSONAL INFORMATION
          BY SALEGENCY:
        </h2>
        <p>
          Concerning SALEGENCY’s processing of your personal information, you
          have the following rights:
        </p>
        <ul class="ml-4">
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> The right
            to access your personal information (as per Article 15 of the GDPR).
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> The right
            to correct your personal information (as per Article 16 of the GDPR).
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> The right
            to request the deletion of data in situations specified in Article 17(1),
            considering exceptions outlined in Article 17(3) of the GDPR.
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> The right
            to request limitations on data processing in situations specified in
            Article 18 of the GDPR.
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> The right
            to data portability in situations specified in Article 20 of the GDPR.
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> The right
            to revoke consent for personal data processing, provided processing is
            based on consent.
          </li>
          <li>
            <span class="text-greencell text-2xl font-bold">&#x2022</span> The right
            to file a complaint with the supervisory authority responsible for data
            protection (i.e., the President of the Personal Data Protection Office)
            if you believe that SALEGENCY has violated regulations related to personal
            data protection.
          </li>
        </ul>
        <p>
          Additionally, since personal data will be processed by SALEGENCY for
          purposes arising from SALEGENCY’s legitimate interests, you have the
          right to object to the processing of your personal data for these
          purposes, based on reasons related to your specific situation.
        </p>
        <div class="flex flex-col gap-6 mt-6">
          <h2>COOKIE POLICY</h2>
          <div class="flex flex-col gap-4">
            <h2>GENERAL INFORMATION:</h2>
            <p>
              The guidelines regarding cookies are applicable to the
              salegency.co website, hereinafter referred to as the Website. The
              Website is under the ownership of Salegency Radosław Bartczak,
              with its headquarters located at ul. Mieczysława Karłowicza 13/5,
              Katowice (40-145), registered in the National Court Register held
              by the District Court for Katowice, NIP: 6431628580, REGON:
              278103799.
            </p>
            <p>
              For any inquiries, Salegency can be contacted via email at
              salegency@salegency.co or through traditional mail at the
              registered office: 40-145 Katowice, ul. Mieczysława Karłowicza
              13/5. This policy outlines the regulations governing the
              collection and utilization of information pertaining to Website
              Users, which is stored in cookies.
            </p>
            <h2>WHAT DO COOKIES MEAN?</h2>
            <p>
              The website uses cookies, which are computer data, especially text
              files, automatically generated by the user’s web browser while
              using the website. These files are then stored on the user’s end
              device, such as a computer, tablet, or smartphone. Cookies
              typically contain the name of the originating website, the
              duration of storage, and a unique number. They can be read by the
              computer system of SALEGENCY (first-party cookies) or third-party
              systems (third-party cookies), related to the website’s
              functioning (functional cookies), marketing activities (marketing
              cookies), analytics, and statistics (analytical cookies).
            </p>
            <p>
              SALEGENCY is the entity responsible for placing cookies on the
              user’s device, along with entities providing statistical tools and
              collaborating in the marketing field, such as Meta Platforms, Inc,
              Google, Microsoft, LinkedIn, Youtube.
            </p>
            <h2>FOR WHAT PURPOSES ARE COOKIES USED?</h2>
            <p>Cookies are used for the following purposes:</p>
            <ol class="ml-4">
              <li>
                <span class="text-greencell font-bold">1.</span> Ensuring the proper
                functioning of the website, including enhancing the quality of user
                experience by accelerating its operation. This is achieved, among
                other things, by remembering settings between successive visits to
                the website, utilizing first-party cookies.
              </li>
              <li>
                <span class="text-greencell font-bold">2.</span> Analytical and statistical
                purposes, involving the creation of analyses and statistics related
                to how users interact with the website. This allows for the improvement
                of the website’s structure and content. Google Analytics is used
                for statistical purposes, utilizing cookies from Google LLC. More
                information can be found at: <a
                  href="https://support.google.com/analytics/answer/6004245"
                  target="_blank"
                  class="underline hover:text-greencell transition-all duration-300"
                  >https://support.google.com/analytics/answer/6004245</a
                >. Users have the option to block Google Analytics cookies,
                including by installing the browser add-on available at <a
                  href="https://tools.google.com/dlpage/gaoptout?hl=pl"
                  target="_blank"
                  class="underline hover:text-greencell transition-all duration-300"
                  >https://tools.google.com/dlpage/gaoptout?hl=pl</a
                >.
              </li>
              <li>
                <span class="text-greencell font-bold">3.</span> Marketing purposes,
                such as displaying personalized ads and information that may be of
                interest to the user.
              </li>
            </ol>
            <p>
              Due to the purposes served by cookies, various types are applied:
            </p>
            <ol class="ml-4">
              <li>
                <span class="text-greencell font-bold">1. Essential:</span> Contribute
                to the usability of the website by enabling basic functions such
                as navigation and access to its secure areas. The website cannot
                function properly without these cookies.
              </li>
              <li>
                <span class="text-greencell font-bold"
                  >2. Preference-related:</span
                > Allow the website to remember information that changes its appearance
                or functionality, such as the preferred language or region of the
                user.
              </li>
              <li>
                <span class="text-greencell font-bold">3. Statistical:</span> Help
                understand how different users behave on the site by collecting and
                reporting anonymous information.
              </li>
              <li>
                <span class="text-greencell font-bold">4. Marketing:</span> Used
                to track users on websites for displaying ads and information that
                is relevant and interesting to individual users, thereby creating
                greater value for third-party site publishers and advertisers.
              </li>
            </ol>
            <p>Regarding the types of cookies related to the storage period:</p>
            <ul class="ml-4">
              <li>
                <span class="text-greencell font-bold"
                  ><span class="text-2xl">&#x2022 </span>Session cookies:</span
                > Temporary files stored on the user’s device until they log out,
                leave the website, or turn off the software (web browser).
              </li>
              <li>
                <span class="text-greencell font-bold"
                  ><span class="text-2xl">&#x2022 </span>Persistent cookies:</span
                > Files stored on the user’s device for a specified period or until
                they are deleted by the user.
              </li>
            </ul>
            <h2>CONSENT TO USE COOKIES</h2>
            <p>
              By using the website, the User consents to the use of cookies,
              confirming this during their visit to the site. The User
              independently decides which cookies to consent to, with approval
              for essential cookies being necessary for the proper use of the
              website. The collection and use of data gathered in cookies for
              the purposes described above may also constitute a legally
              justified interest of the Service Provider. The User has the
              option to change their cookie preferences at any time using the
              consent management widget (circular button in the lower-left
              corner of the page) and selecting the “Change your consent”
              option.
            </p>
            <h2>COOKIE STORAGE PERIOD</h2>
            <p>
              The storage period for cookies depends on their type and is a
              maximum of 12 months.
            </p>
            <h2>
              COOKIE HANDLING AND THE POSSIBILITY OF MAKING CHANGES TO USED
              COOKIES
            </h2>
            <p>
              The User can adjust the handling of cookies (conditions for their
              storage or access) by making appropriate changes in the settings
              of the software installed on their device (changes in the settings
              of the internet browser). In the internet browser settings, one
              can block automatic handling of cookies or receiving information
              about each placement of cookies on the user’s device. The User can
              delete cookies stored on their end device at any time using the
              available options in the internet browser.
            </p>
            <p>
              Below are instructions for changing cookie settings for different
              internet browsers:
            </p>
            <ol>
              <li>
                <span class="text-greencell font-bold">a)</span>
                <a
                  href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d"
                  target="_blank"
                  class="underline hover:text-greencell transition-all duration-300"
                  >Microsoft Edge</a
                >
              </li>
              <li>
                <span class="text-greencell font-bold">b)</span>
                <a
                  href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer"
                  target="_blank"
                  class="underline hover:text-greencell transition-all duration-300"
                  >Mozilla Firefox</a
                >
              </li>
              <li>
                <span class="text-greencell font-bold">c)</span>
                <a
                  href="https://support.google.com/chrome/answer/95647?hl=pl"
                  target="_blank"
                  class="underline hover:text-greencell transition-all duration-300"
                  >Chrome</a
                >
              </li>
              <li>
                <span class="text-greencell font-bold">d)</span>
                <a
                  href="https://support.apple.com/en-us/105082"
                  target="_blank"
                  class="underline hover:text-greencell transition-all duration-300"
                  >Safari</a
                >
              </li>
              <li>
                <span class="text-greencell font-bold">e)</span>
                <a
                  href="https://help.opera.com/en/latest/web-preferences/#cookies"
                  target="_blank"
                  class="underline hover:text-greencell transition-all duration-300"
                  >Opera</a
                >
              </li>
            </ol>
            <p>
              Changing settings or deleting cookies may affect access to some
              features of the website, excluding those that naturally require
              cookies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  h2 {
    font-weight: bold;
    color: #7ed957;
  }

  a {
    word-break: break-all;
  }

  tr,
  td {
    border: solid 1px white;
    padding: 8px;
  }
</style>
