---
import Logo from "../components/interface/Logo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Salegency - Creativity to Profit."
  description="The world's first agency dedicated to optimizing monthly sales for experts and coaches."
>
  <header class="flex items-center justify-center py-20">
    <Logo href="/" className="w-[240px]" />
  </header>
  <main class="flex flex-col items-center">
    <div class="max-w-[1080px] flex flex-col gap-6 text-lg">
      <h1 class="heading normal-case text-left">
        Salegency Radosław Bartczak,<br /> and www.salegency.co<br /> Terms and conditions
      </h1>
      <p>
        Please read these Terms & Conditions carefully and in their entirety
        before using www.salegency.co (hereinafter referred to as the “Site”).
        The Site and its content are owned by Salegency Radosław Bartczak.
      </p>
      <p>
        <span class="text-greencell">PURPOSE:</span> These Terms & Conditions are
        here to clearly explain, outline, and layout the rules, terms, and conditions
        of using, viewing, and/or browsing the Site and/or purchasing or downloading
        any course, program, service, or product offered on or by us or the Site.
      </p>
      <div class="flex flex-col gap-4">
        <h2>IMPORTANT NOTES:</h2>
        <div class="flex flex-col gap-4">
          <p>
            By using the Site in any capacity, you voluntarily agree to these
            Terms & Conditions. You agree that you have read, understood, and
            consented to these Terms & Conditions. If you have any questions,
            please contact us at salegency@salegency.co
          </p>
          <p>
            You must be at least 18 years old and be able to consent to these
            Terms & Conditions. If you are under the age of 18, or you do not
            agree with these Terms & Conditions as stated herein, please STOP
            now and do not use this Site or its content. By using the Site, you
            agree to the Terms & Conditions as stated herein, regardless of
            whether or not you have read these Terms & Conditions.
          </p>
          <p>
            These Terms & Conditions contain an Arbitration Clause and require
            you to dispute or resolve any claim with us through Arbitration. By
            agreeing to these Terms & Conditions, you agree to the Arbitration
            Clause in Paragraph No.18 and voluntarily waive your right to a jury
            trial.
          </p>
          <p>By proceeding on the Site, you hereby agree to the following:</p>
        </div>
        <div class="flex flex-col gap-4">
          <h2>1. Definitions:</h2>
          <ul class="ml-4">
            <li>
              <span class="text-2xl font-bold text-greencell">&#x2022 </span>
              “Company,” “We,” “I,” “Our,” or “Us” refer to Salegency Radosław Bartczak
              and our website, www.salegency.co.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell">&#x2022 </span>
              “Content” encompasses all written, visual, video, or audio information
              found on the Site. This includes, but is not limited to, any emails
              received from Salegency Radosław Bartczak and/or www.salegency.co,
              as well as any written or downloadable materials offered by Salegency
              Radosław Bartczak and/or on www.salegency.co. Examples of such materials
              include blog posts, graphics, newsletters, designs, documents, information,
              templates, videos, testimonials, and other materials.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell">&#x2022 </span>
              “Personal Information” denotes information that can identify, contact,
              or locate an individual, or that can identify a person in a specific
              context. This may include, among other things, names, addresses, email
              addresses, telephone numbers, birthdays, mailing addresses, etc.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell">&#x2022 </span>
              “Site, Courses, Services, and/or Products” collectively refer to www.salegency.co,
              Content (as defined herein), email list/newsletters, social media posts,
              blog posts, courses, coaching services, guides, eBooks, forms, worksheets,
              workbooks, webinars, website materials, testimonials, videos, and/or
              templates available on the Site.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell">&#x2022 </span>
              “Site” encompasses www.salegency.co and all associated pages, tabs,
              landing pages, forms, or sub-pages.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell">&#x2022 </span>
              “You” or “Your” pertains to the user, customer, or viewer of the Site.
            </li>
          </ul>
          <h2>2. Consent:</h2>
          <p>
            When accessing the Site or making any Purchase, you are
            acknowledging your implicit and voluntary agreement to comply with
            and adhere to these Terms & Conditions, our Privacy Policy, and
            Disclaimer.
          </p>
          <p>
            You further confirm, by using the Site or making a Purchase, that
            you are at least 18 years old. Unauthorized use or access to the
            Site and its Content by individuals under the age of 18 is strictly
            prohibited and constitutes a direct violation of these Terms &
            Conditions and our Privacy Policy.
          </p>
          <h2>3. Site Rules:</h2>
          <p>
            By using the Site and/or making any Purchase, you hereby agree &
            consent not to:
          </p>
          <ul class="ml-4">
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Abuse or harass any person through or on the Site.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Post or transmit obscene, offensive, libelous, defamatory,
              pornographic, or abusive content, as well as content that
              infringes our intellectual property rights or those of another
              person, website, or company.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell">&#x2022 </span>Use
              the Site in any way or for any purpose which violates any law of
              the United States and the jurisdiction in which you use the Site.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Post or transmit any “spam” or unwanted, unsolicited
              content.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Post copyrighted materials, photographs, or content which
              do not belong to you.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Promote or sell your own content, services, or products
              through the Site, or the content, services, or products of anyone
              else other than us.
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Copy, download, share, post, or transmit our intellectual
              property in any way that infringes on our intellectual property
              rights.
            </li>
          </ul>
          <h2>4. DISCLAIMER:</h2>
          <p>
            When utilizing the Site, please be aware that we operate as a sales
            and marketing agency. The Content provided is solely for
            informational and educational purposes, drawing from our personal
            experiences.
          </p>
          <h2>5. Your Consent to These Terms & Conditions:</h2>
          <p>
            Using this Site, or making a Purchase or Downloading from our Site,
            Courses, Services, and/or Products implies your voluntary agreement
            to abide by the stated Terms & Conditions herein.
          </p>
          <h2>6. Changes To These Terms & Conditions:</h2>
          <p>
            We retain the right to modify, amend, or otherwise adjust these
            Terms & Conditions at any time without prior notice to you. Whenever
            alterations are made, we will update the “Updated on” date at the
            bottom of this page. If you disagree with these Terms & Conditions,
            kindly refrain from using our Site, accessing or implementing its
            Content, or making any Purchase or Download from us.
          </p>
          <h2>7. Links to Third-Party or External Websites:</h2>
          <p>
            The Site may feature website URL links to third-party or external
            websites. These links are usually provided for direct access to
            sites with pertinent information. It is important to note that we
            are not accountable for the information found on or within these
            third-party or external websites. We do not assume responsibility
            for how they manage your personal information, whether they have a
            privacy policy, or any information you disclose to them during your
            visit. It is your responsibility to review and agree to, or disagree
            with, the privacy policy or terms & conditions of the external
            website.
          </p>
          <h2>8. Intellectual Property Ownership:</h2>
          <p>
            The Site and its Content constitute intellectual property
            exclusively owned by Salegency Radosław Bartczak. They are
            safeguarded by United States copyright and trademark laws, in
            addition to state intellectual property laws. Any breaches of this
            term, and all terms outlined herein, will be subject to legal action
            to the maximum extent allowed by law.
          </p>
          <h2>9. Our Limited License to You:</h2>
          <p>
            By viewing, accessing, or purchasing the Site, Courses, Services,
            and/or Products, you are designated as our Limited Licensee
            (“Licensee”). As a Licensee, you acknowledge and comprehend that the
            Site, Courses, Services, and/or Products have been authored,
            created, formulated, invented, and cultivated by us through a
            substantial investment of time, funds, education, diligent effort,
            and intellectual resources. These assets, the Site, Courses,
            Services, and/or Products, hold significant value for us on both
            professional and personal levels, and we approach the safeguarding
            of these resources with the utmost seriousness.
          </p>
          <p>
            Usage of the Site, Courses, Services, and/or Products in any
            unauthorized, improper manner, contravening these Terms & Conditions
            or our Privacy Policy, or violating U.S. intellectual property laws,
            is strictly prohibited unless explicitly authorized by us in writing
            beforehand.
          </p>
          <h2>10. Your License to Us:</h2>
          <p>
            When commenting on the Site or submitting documents to Salegency
            Radosław Bartczak via contact form, email, or social media, you
            affirm that you are the lawful owner of the provided documents,
            statements, and/or the information they contain. By doing so, you
            grant us a license to utilize your comments or submissions in any
            manner deemed suitable for our business purposes.
          </p>
          <h2>11. Purchase & Access Terms:</h2>
          <p>
            Throughout your use, Purchase, and/or Download from the Site,
            Courses, Services, and/or Products, you acknowledge and comprehend
            that you are prohibited from distributing, copying, forwarding,
            and/or sharing information restricted by these Terms & Conditions.
            It is your responsibility to take all necessary precautions to
            prevent inadvertent sharing or distribution of said materials, which
            includes, but is not limited to, safeguarding your password (if any)
            for Site access to your Purchase or Download. Any breaches of these
            Terms & Conditions will be pursued through legal channels to the
            maximum extent permitted by law.
          </p>
          <h2>12. Sharing the Site & Its Content:</h2>
          <p>
            Prior to sharing our Site and its Content for commercial purposes,
            it is imperative that you request and obtain written permission via
            email at salegency@salegency.co. While sharing the site for personal
            purposes is allowed, we kindly request that you link directly to the
            Site.
          </p>
          <p>
            Additionally, if you choose to share it on social media or your own
            website, including all photographs, you are obligated to provide
            credit to us and the Site through proper linking.
          </p>
          <p>
            Since the Site and its Content are not your intellectual property,
            you are strictly prohibited from implying or representing that they
            belong to you or that you played any role in creating, causing, or
            contributing to the Site or its Content. Any assertions of
            association with Salegency Radosław Bartczak are not allowed.
          </p>
          <h2>13. No Claims Made Regarding Results:</h2>
          <p>
            Any testimonials, statements, or examples from current or past
            clients used by us are solely provided as illustrative examples.
            They do not serve as guarantees that you will achieve or receive
            similar results. Each client and their circumstances are unique, and
            nothing should be construed as a guarantee that you will experience
            identical outcomes as another client of ours.
          </p>
          <h2>
            14. DISCLAIMER – No Warrantees, Guarantees, or Representations Are
            Being Made:
          </h2>
          <p>
            We do not provide any warranties, of any kind, regarding the Site,
            Courses, Services, and/or Products, and/or your Purchase or
            Download, in any manner. The Site, Courses, Services, and/or
            Products, and/or your Purchases or Downloads are presented “AS IS”
            and without warranties of any kind, neither express nor implied, to
            the extent permitted by law.
          </p>
          <h2>15. Your Release of Us:</h2>
          <p>
            When utilizing the Site or engaging in the Purchase, Download, or
            use of Salegency Radosław Bartczak’s Courses, Services, and
            Products, you explicitly agree to release, absolve, and permanently
            relieve Salegency Radosław Bartczak, its subsidiaries, employees,
            agents, contractors, subcontractors, and affiliates from any and all
            claims, suits, actions, charges, demands, liabilities, damages,
            judgments, and/or costs, whether they are known or unknown,
            encompassing both legal and equitable aspects in any form.
          </p>
          <h2>16. Errors & Omissions:</h2>
          <p>
            While every endeavor is undertaken to furnish current and precise
            information on both the Site and through our services, it is crucial
            to recognize that, given the intricacy of the topics we address,
            Salegency Radosław Bartczak cannot warrant, represent, or guarantee
            that such information is consistently error-free, accurate, or
            up-to-date. It is advised that you conduct your due diligence,
            research, or seek advice from a professional to verify the accuracy
            and currency of all information obtained, acted upon, or relied upon
            from this Site and/or our services.
          </p>
          <h2>17. Our Refund Policy:</h2>
          <p>
            We are committed to making every reasonable effort to ensure your
            satisfaction. Refunds will not be granted for sales and marketing
            services that have already been provided or products that have
            already been purchased. If you have any questions, concerns, or if
            there’s anything we can do to enhance your experience, please reach
            out to us via email at salegency@salegency.co.
          </p>
          <h2>18. ARBITRATION CLAUSE:</h2>
          <p>
            If you encounter any issues or have a complaint regarding the use of
            the Site or Salegency Radosław Bartczak’s Courses, Services, and/or
            Products, we encourage you to contact us directly first by sending
            an email to salegency@salegency.co.
          </p>
          <p>
            In the event that we are unable to reach an amicable resolution
            through this initial contact, you agree that both parties, you and
            Salegency Radek Bartczak, will submit the dispute to binding
            arbitration with the Polish Chamber of Commerce (Krajowa Izba
            Gospodarcza – KIG) in Poland. The arbitration will be conducted
            before an arbitrator mutually agreed upon, following the rules of
            the Polish Chamber of Commerce (Krajowa Izba Gospodarcza – KIG).
          </p>
          <p>
            By accepting this condition, you acknowledge and understand that you
            are waiving your right to a jury trial in court, a right that would
            otherwise be available to you in the absence of this Arbitration
            Clause. If an arbitration hearing is required, it will take place
            within 12 miles of Katowice, PL.
          </p>
          <p>
            In the event that the arbitrator issues an award and a judgment is
            rendered, the judgment will be binding and entered in the court in
            Katowice. The sole award that can be granted to you is a refund of
            any payment made to Salegency Radosław Bartczak for the relevant
            Product or Service. You are not permitted to pursue additional
            damages, including consequential or punitive damages.
          </p>
          <h2>19. Consent to Governing Law:</h2>
          <p>
            These Terms & Conditions, and any dispute arising out of it, shall
            be governed by the laws of the Katowice, Poland.
          </p>
          <h2>20. Jurisdiction Agreement:</h2>
          <p>
            You hereby express your irrevocable consent to the exclusive
            jurisdiction and venue of any Federal Court in the Polish District
            Court for the District of Katowice or a state court located within
            the State of Katowice concerning any matter arising out of these
            Terms & Conditions, Privacy Policy, Disclaimer, or due to your use,
            Download, or Purchase from the Site, Courses, Services, and/or
            Products.
          </p>
          <h2>21. Agreement to Accept Service:</h2>
          <p>
            You hereby agree, in an irrevocable manner, that process may be
            served on you in any manner authorized by the Laws of the State of
            Katowice for such persons, and you waive any objection which you
            might otherwise have to service of process under the laws of the
            State of Katowice.
          </p>
          <h2>22. Payment & Transactions:</h2>
          <p>
            When you Purchase or Download one of our Courses, Services, and
            Products from us or the Site, credit card payment is an option. By
            choosing this method, you grant Salegency Radosław Bartczak
            permission to automatically charge your credit card for payment.
            Following your Purchase, you will receive an electronic receipt for
            your records.
          </p>

          <p>
            If you opt for the installment or “pay over time” option at
            checkout, you agree that Salegency Radosław Bartczak is authorized
            to automatically charge, without individual confirmation before each
            installment transaction, the agreed-upon amount on the specified
            dates.
          </p>
          <p>
            In the event of payment method failure or decline, access to our
            Courses, Services, and Products may be revoked. Please be aware that
            even if your payment method is declined, you remain responsible for
            the full cost of your Purchase.
          </p>
          <p>
            We do not entertain chargeback threats, whether actual or implied.
            Placing chargebacks on a Purchase or Download of our Courses,
            Services, and Products will prompt us to report the incident to
            major credit reporting agencies, potentially impacting your credit
            report and/or score. To address this, contact us to arrange payment
            owed, and upon receipt, we will initiate the necessary credit agency
            reports.
          </p>
          <p>
            Payment processing companies may have distinct privacy policies and
            practices not under our control. We disclaim responsibility for the
            policies of payment processing companies. Unforeseeable
            circumstances during online purchases beyond our control that
            compromise your credit card or payment method are not our liability
            or responsibility.
          </p>
          <p>
            You hereby release us from any and all damages associated with your
            payment or use of our payment processing companies and agree not to
            assert any claims against us or them for damages arising from your
            Purchase or use of our Site and its Content.
          </p>
          <h2>22. Liability Limitation:</h2>
          <p>
            Salegency Radosław Bartczak assumes no responsibility or liability
            for any damages, whether direct or indirect, arising from your use,
            Purchase, or Download from our Site, Courses, Services, and/or
            Products. We disavow liability for damages, injuries, harm, death,
            misuse of (or failure to properly use) information or documents due
            to any act or failure to act on your part. Notwithstanding anything
            contrary contained herein, your exclusive remedy for negligence,
            failure to perform, or breach by us shall be a refund of the amount
            paid for such service or product. IN NO EVENT SHALL WE BE LIABLE TO
            YOU FOR ANY INDIRECT, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES.
          </p>
          <h2>23. Defense & Indemnification:</h2>
          <p>
            You are obligated, at all times, to indemnify, defend, and hold
            harmless Salegency Radosław Bartczak, Radosław Bartczak, and all our
            shareholders, officers, members, affiliates, contractors,
            subcontractors, directors, assignees, employees, and licensees from
            all losses, damages, injuries, delays, deaths, lost profits, and
            expenses arising out of any proceeding (a) initiated by a third
            party or by Salegency Radosław Bartczak and Radosław Bartczak (b)
            stemming from your breach of your obligations, representations,
            warranties, or covenants under these Terms & Conditions or the
            Privacy Policy; and (c) arising from any alleged breach or
            negligence attributed to us.
          </p>
          <h2>24. Termination of Your Use:</h2>
          <p>
            At our sole discretion, we reserve the right to terminate your use
            or access to the Site, Courses, Services, and/or Products, and
            Purchases/Downloads if you violate or breach any of these Terms &
            Conditions, Privacy Policy, Disclaimer, or any other agreed-upon
            terms.
          </p>
          <h2>25. Complete Agreement:</h2>
          <p>
            These Terms & Conditions, along with our Privacy Policy and
            Disclaimer, constitute the entire agreement between you and us
            regarding the Site, Courses, Services, and/or Products, superseding
            all prior or contemporaneous communications and proposals, whether
            electronic, oral, or written.
          </p>
          <h2>26. Severability:</h2>
          <p>
            The provisions of these Terms & Conditions are severable, and the
            invalidity or unenforceability of any provision shall not affect the
            validity and enforceability of any other provision herein. If any
            paragraph, section, subsection, sentence, or clause of these Terms &
            Conditions is rendered illegal, invalid, or unenforceable, such
            illegality, invalidity, or unenforceability shall have no effect on
            these Terms & Conditions as a whole or on any other paragraph,
            section, subsection, sentence, or clause herein.
          </p>
          <h2>27. Your Privacy & Security on the Site:</h2>
          <p>
            Please refer to our Privacy Policy for information on how we handle
            your personal information.
          </p>
          <h2>28. Contact Information:</h2>
          <p>
            If you have any questions or concerns regarding these Terms &
            Conditions, you may reach out to us using the following information:
          </p>
          <ul class="ml-4">
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Website: www.salegency.salegency.co
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Email: salegency@salegency.co
            </li>
            <li>
              <span class="text-2xl font-bold text-greencell"
                >&#x2022
              </span>Business Address: Mieczysława Karłowicza 13/5, 40-145
              Katowice, NIP: PL6431628580
            </li>
          </ul>
          <h2>Updated on: 28.1.2024</h2>
        </div>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  h2 {
    font-weight: bold;
    color: #7ed957;
  }
</style>
