---
import { Image } from "astro:assets";
import logo from '/public/img/logo.webp';

---

<nav class="h-[60px] gradient-dark flex items-center p-4 w-[80%] border-2 rounded-xl border-zinc-700">
  <Image src={logo} alt="Salegency Logo" width={100} />
</nav>