---
import LetsTalkButton from "../shared/LetsTalkButton.astro";
---

<section id="intro" class="min-h-screen flex items-center justify-center">
  <div class="min-w-[80%] flex items-center justify-between gap-10">
    <div class="flex items-center flex-1 justify-center flex-col gap-4">
      <h1
        class="text-4xl font-bold text-center uppercase leading-8 text-greencell"
      >
        We help experts and coaches <br />
        <span class="text-2xl text-white"
          >build and sell their digital products.</span
        ><br />
        And we are top-notch at it.
      </h1>
      <div class="flex items-center gap-10 mt-10">
        <LetsTalkButton />
      </div>
    </div>
    <div
      class="relative flex-1 h-[600px] border border-greencell shadow-xl shadow-greencell"
    >
      <iframe
        src="https://player.vimeo.com/video/910200015?badge=0&autopause=0&player_id=0&app_id=58479"
        allow="autoplay; fullscreen; picture-in-picture"
        class="w-full h-full absolute top-0 left-0"></iframe>
    </div>
  </div>
</section>
