---
import LetsTalkButton from "../interface/LetsTalkButton";
---

<section id="intro" class="bg-zinc-950 w-full flex items-center justify-center">
  <div class="section xs:max-lg:flex-col justify-between gap-10">
    <div class="flex lg:flex-1 justify-center items-center flex-col gap-10">
      <h1 class="heading">
        We help coaches and experts <span class="text-greencell"
          >build and sell their products.</span
        >
        <span class="text-3xl"><br />And we are exceptional at it:</span>
        <h2 class="heading text-3xl"></h2>
      </h1>
      <div class="flex flex-col items-center">
        <p
          class="xs:text-lg lg:text-2xl font-bold text-center text-balance italic"
        >
          “I went from generating a meager income of a few thousand euros to
          earning a substantial <span class="text-greencell">750,000 euros</span
          > in revenue.”
        </p>
        <p class="xs:text-lg lg:text-xl w-full text-center text-white/70 mt-2">
          Charro Pyl, <span class="text-white/70">coach.</span>
        </p>
      </div>

      <div class="flex items-center gap-10 justify-center">
        <LetsTalkButton> Let’s talk how we can help </LetsTalkButton>
      </div>
    </div>
    <div
      class="relative xs:w-full lg:w-[340px] xs:h-[300px] lg:h-[600px] shadow-md shadow-greencell"
    >
      <iframe
        title="Charro Pyl Salegency review."
        src="https://youtube.com/embed/5VjZnWxhUoc?si=t_PC6tokPodo3YI5"
        allow="autoplay; fullscreen; picture-in-picture"
        class="w-full h-full absolute top-0 left-0"></iframe>
    </div>
  </div>
</section>
