---
import LetsTalkButton from "../shared/LetsTalkButton.astro";
---

<section id="intro" class="section">
  <div class="flex w-full items-center justify-between gap-10">
    <div class="flex items-center flex-1 justify-center flex-col gap-4">
      <h2>Charro Pyl, <span>coach:</span></h2>
      <p>
        “I went from generating a meager income of a few thousand euros to
        earning a substantial 750,000 euros in revenue.”
      </p>
      <div class="flex items-center gap-10 mt-10">
        <LetsTalkButton>Let’s talk how we can help</LetsTalkButton>
      </div>
    </div>
    <div class="relative w-[340px] h-[600px]">
      <iframe
        src="https://youtube.com/embed/5VjZnWxhUoc?si=t_PC6tokPodo3YI5"
        allow="autoplay; fullscreen; picture-in-picture"
        class="w-full h-full absolute top-0 left-0"></iframe>
    </div>
  </div>
</section>
