---
import LetsTalkButton from "../interface/LetsTalkButton";
---

<section id="intro" class="section xs:max-lg:mt-20">
  <div class="flex w-full xs:max-lg:flex-col items-center justify-between gap-10">
    <div class="flex lg:flex-1 justify-center flex-col gap-10">
      <h1 class="heading lg:text-left">
        We help coaches and experts <span class="text-greencell"
          >build and sell their products.</span
        >
      </h1>
      <div class="flex flex-col items-center">
        <p class="xs:text-lg lg:text-2xl font-bold xs:max-lg:text-center text-balance">
          “I went from generating a meager income of a few thousand euros to
          earning a substantial <span class="text-greencell">750,000 euros</span
          > in revenue.”
        </p>
        <p class="xs:text-lg lg:text-2xl w-full text-right text-greencell font-bold">
          Charro Pyl, <span class="font-normal text-white/70">coach.</span>
        </p>
      </div>

      <div class="flex items-center gap-10 justify-center">
        <LetsTalkButton className="lg:w-[500px]">
          Let’s talk how we can help
        </LetsTalkButton>
      </div>
    </div>
     <div class="relative xs:w-full lg:w-[340px] xs:h-[300px] lg:h-[600px] shadow-md shadow-greencell">
      <iframe
        title="Charro Pyl Salegency review."
        src="https://youtube.com/embed/5VjZnWxhUoc?si=t_PC6tokPodo3YI5"
        allow="autoplay; fullscreen; picture-in-picture"
        class="w-full h-full absolute top-0 left-0"></iframe>
    </div>
  </div>
</section>