---
import { Image } from "astro:assets";
import LetsTalkButton from "../interface/LetsTalkButton";
import MissionElement from "./MissionElement.astro";
---

<section id="mission" class="section">
  <div class="flex flex-col gap-10 items-center w-full">
    <h2 class="heading text-balance">
      Our mission is to help experts and coaches <span class="text-greencell"
        >build and sell their digital products.</span
      >
    </h2>
    <div class="flex items-center xs:max-lg:flex-col justify-between gap-10">
      <div
        class="relative xs:max-lg:w-full lg:flex-1 xs:h-[300px] lg:h-[500px] overflow-hidden"
      >
        <Image
          alt=""
          src="/img/mission-image.avif"
          class="absolute object-cover"
          height={800}
          width={800}
        />
      </div>
      <div class="flex flex-col flex-1 gap-10 lg:items-start w-full">
        <ul class="flex flex-col gap-6">
          <MissionElement
            title="Maximize Earnings"
            description="Leverage digital products rather than one-on-one coachings for effortless scalability, reaching a broad customer base."
          />
          <MissionElement
            title="Reclaim Free Time"
            description="Entrust us with sales, freeing you from the continuous cycle of closing more and more clients and then engaging in one-on-one coaching, ensuring more time for what matters."
          />
          <MissionElement
            title="Diversify Income Streams"
            description="Combine high-ticket coaching with digital products to explore diverse revenue channels."
          />
          <MissionElement
            title="Accelerate Brand Growth"
            description="Attract more customers due to a lower barrier to entry, expanding your audience swiftly and effectively."
          />
        </ul>
        <LetsTalkButton>Let's Talk</LetsTalkButton>
      </div>
    </div>
  </div>
</section>
