---
import OpinionList from "./OpinionList.astro";
---

<section id="opinions" class="min-h-screen flex items-center justify-center">
  <div class="w-full flex flex-col items-center">
    <h2 class="heading text-greencell">See what others say about us.</h2>
    <h3 class="text-white text-2xl">Here are some of our references:</h3>
    <OpinionList />
  </div>
</section>
