---
const { videoURL, title } = Astro.props;
---

<div
  class="bg-zinc-900 rounded-lg xs:w-full lg:min-w-[340px] lg:min-h-[460px] p-4 flex flex-col items-center gap-4 transition-all duration-300 hover:scale-105"
>
  <iframe
    title={title}
    src={videoURL}
    allow="autoplay; fullscreen; picture-in-picture"
    class="w-full h-full"></iframe>
</div>
